@import './../../assets/sass/varibles';

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: $content-size;
	padding: 0 0.5rem;
	width: 100%;

	&__actions-mobile {
		display: flex;
    	gap: 1rem;
	}
}


@media #{ $is-desktop } {
	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: $content-size;
		padding: 0 0.5rem;
		width: 100%;
	}
}
