@import '../../assets/sass/varibles';

.link {
	list-style: none;
	position: relative;

	&__a {
		color: #ffffff;
		text-decoration: none;
		padding: 0.5rem 1rem;
		border-bottom: 2px solid transparent;
		display: block;

		&:hover {
			border-bottom: 2px solid $primare-hover;

			& + .link__child {
				height: auto;
				transition: 0.5s all;
				border: 0.5px solid #ffffff;
			}
		}
	}

	&__child {
		background-color: $primare-color;
		height: 0;
		transition: 0.5s all;
		overflow: hidden;

		&.active {
			height: auto;
			transition: 0.5s all;
			padding-left: 0.5rem;
		}

		.link {
			&-list {
				flex-direction: column;
				gap: 0;
			}

			&__a {
				border: 0;

				&:hover {
					background-color: $primare-hover;
				}
			}
		}
	}

	&__action-child {
		position: absolute;
		top: 0.5rem;
		right: 0;
		color: #ffffff;
		border-left: 1px solid #ffffff;
		padding-left: 0.5rem;
    	padding-right: 0.5rem;
	}
}


@media #{ $is-desktop } {
	.link {

		&__child {
			background-color: $primare-color;
			position: absolute;
			height: 0;
			transition: 0.5s all;
			overflow: hidden;

			.link {
				&-list {
					flex-direction: column;
					gap: 0;
				}

				&__a {
					border: 0;

					&:hover {
						background-color: $primare-hover;
					}
				}
			}
		}

	}
}
